/*Styles for every page*/

h1, h2{
    padding: 1vw;
    margin-bottom: 0;
}

.content{
    margin: 2%;
    padding: 5%;
}

.header{
    max-height: 20rem;
    height: 20vw;
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 100%;
    }
    h2{
        font-size: 100%;

    }
}