.content{
    display: grid;
    grid-template-columns: 25% auto auto;
}

#profile-pic, #edu{
    grid-column: span 1;
}
#profile-pic img{
    width: 100%;
}
#bio, #bio p{
    grid-column-start: 3;
    grid-row: span 2;
    font-size: medium;
}
#edu{
    grid-row: 2;
}
h3{
    font-size: medium;
    text-align: center;
    color: white;
}

@media screen and (max-width: 400px) {
    .content{
        display: grid;
        grid-template-columns: auto;
    }
    #profile-pic, #edu, #bio{
        grid-column: span 1;
    }
    
}