:root{
    --minSize: 2rem;
    --negMinSize: -1rem;
    /*font-size: clamp(min, prevered, max); */
    --responsive-font-size: clamp(1rem, 1.5vw, 3rem);
}

.content{
    display: grid;
    grid-template-columns: auto auto;
}



#links div{
    padding-left: 5%;
}

p{
    font-size: var(--responsive-font-size);
}

.icon-link{
    font-size: var(--responsive-font-size);
    --bs-icon-link-transform: translate3d(0, -1.5vw, 0);
}

.bi{
    font-size: var(--responsive-font-size)
}
#links a{
    margin-top: 1.5vw;
}
@media screen and (max-width: 400px) {
    .content{
        display: grid;
        grid-template-columns: auto;
    }
    .content > div{
        grid-column: span 1;
    }
}
