/*Styles for every page*/
.header{
    background-image: url(../Images/header-bg.jpg); /*https://www.rawpixel.com/image/5923861/code-free-public-domain-cc0-photo*/
    background-size: cover;
}
h1, h2{
    padding: 1vw;
}
.content{
    margin: 2%;
}

.header{
    max-height: 20rem;
    height: 20vw;
}

.nav-item{
    font-size: min(1vw);
    font-size: max(1rem);
}

img{
    max-height: 20rem;
    height: 20vw;
    width: device-width;
    background-size: cover;
}